@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
  font-family: Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calculator-bottom-button{
  @apply w-full bg-gray-400 uppercase h-[35px] flex justify-center items-center rounded-lg;
}